:root{
    --blue-brand: #2865AE;
    --blue-200: #bfdbfe;
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-400: #a3a3a3;
    --zinc-500: #71717A;
    --zinc-800: #27272a;
}
:focus{
    outline: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

header{
    background-color: var(--blue-200);
}

.header-container{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav{
    display: flex;
    gap: 12px;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--zinc-800);
}

.btn-login{
    background-color: var(--blue-brand);
    padding: 4px 14px;
    border-radius: 14px;
    box-shadow: 0 2px 6px 0px var(--zinc-400);
    color: var(--zinc-50);
}

.btn-create-account{
    background-color: var(--zinc-50);
    padding: 4px 14px;
    border-radius: 14px;
    box-shadow: 0 2px 6px 0px var(--zinc-400);
    color: var(--blue-brand);
    border: solid 1px var(--blue-brand);
}

main{
    height: 100vh;
    background-color: var(--zinc-100);
    padding-top: 44px;
}

.container{
    display: flex;
    max-width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
}

.container1-1{
    display: flex;
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
}

.form-container{
    width: 1200px;
    height: 500px;
}

h1{
    color: var(--blue-brand);
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.h1_left{
    color: var(--blue-brand);
    font-size: 24px;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.ch_container{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    
    
}

.ch_top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#ch_top_left{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: left;
    
}

#ch_top_right{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: right;
    
}

.problem_Ch{
    color: var(--zinc-800);
    font-size: 24px;
    margin-bottom: 8px;
    text-align: left;
}

.box_ch{
    background-color: var(--zinc-50);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 28px 0;
    border: solid 1px var(--blue-brand); 
    border-radius: 8px;
    padding: 24px;
}

#btn-newCh{
    background-color: var(--blue-brand);
    padding: 8px 28px;
    border-radius: 8px;
    color: var(--zinc-50);
    text-align: center;
}

#chForm{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: solid 1px var(--blue-brand);
    border-radius: 8px;
    background-color: #fff;
    gap: 24px;
    width: 100%;
}

input, textarea{
    background-color: var(--zinc-200);
    padding: 12px 16px;
    border: solid 2px transparent;
    border-radius: 8px;
}

input:focus-within, textarea:focus-within{
    border-color: var(--blue-brand);
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.check{
    display: flex;
    flex-direction: row;
}

.form-input > label{
    color: var(--zinc-800);
}

.btn-new-account{
    background-color: var(--blue-brand);
    border: 0;
    padding: 12px 0;
    text-align: center;
    color: var(--zinc-50);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: var(--blue-200);
}

.btn-footer {
    color:#2865AE;
    text-decoration: none;
    padding: 4px 14px;
    margin:auto;
}

.footer-container {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 108px;
    color:#2865AE;
    font-size: 16px;
    padding: 0px 130px; */
}

.p-footer {
    display: inline;
    color: var(--blue-brand);
}

.sobre-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-200);
    padding: 10px 0;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 108px;
    color:#bfdbfe;
    font-size: 16px;
    padding: 0px 130px; */
}

.Inicio-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 108px;
    color:#bfdbfe;
    font-size: 16px;
    padding: 0px 130px; */
}

.Sobre_container_meio{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 0;
}
.sobre_top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#sobre_top_left{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: left;
    
}

#sobre_top_right{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: right;
}